*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    font-weight: normal;
}
body{
    margin: auto;
    max-width: 1280px;
    width: 90%;
}

header{
    background-image: url(../images/fondo.png);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: inherit;
}
/* Barra de Navegación  */
#logo{
    margin-top: 0px;
    width: 180px;
}
label{
    margin: 0 40px 0 0;
    font-size: 26px;
    display: none;
}
#toggle{
    display: none;
}
#navigation {
    position: fixed;
    top: 0px;
    right: 5%;
    list-style: none;
    z-index:2;
}
#navigation li {
    width: 103px;
    display:inline;
    float:left;    
}
#navigation li a {
    display: block;
    float:left;
    margin-top: -2px;
    width: 100px;
    height: 25px;
    background-color:#E7F2F9;
    background-repeat:no-repeat;
    background-position:50% 10px;
    border:1px solid #BDDCEF;
    text-decoration:none;
    text-align:center;
    padding-top:80px;
    opacity: 0.7;
}
#navigation li a:hover{
     background-color:#CAE3F2;
}
#navigation li a span{
    letter-spacing:2px;
    font-size:14px;
    font-weight: bold;
    color:#00495e;
    text-shadow: 0 -1px 1px #fff;      
}
#navigation .home a{
    background-image: url(../images/home.png);
}
#navigation .about a      {
    background-image: url(../images/id_card.png);
}
#navigation .search a      {
    background-image: url(../images/search.png);
}
#navigation .podcasts a      {
    background-image: url(../images/ipod.png);
}
#navigation .rssfeed a   {
    background-image: url(../images/rss.png);
}


/* Inicio */
#inicio{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -70px;
}
.inicio-left-col{
    flex-basis: 40%;
    background-color: rgba(235, 245, 255,.5);
    padding: 0px 15px
}
.inicio-right-col{
    flex-basis: 60%;
}
.inicio-right-col img{
    width: 100%;
}
.header-text{
    max-width: 420px;
    margin-top: 40px;
}
h1{
    font-size: 40px;
    color: #1e6177;
}
.connon-btn{
    font-size: 20px;
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #00011b;
    cursor: pointer;
}
.header-text p{
    font-size: 16px;
    line-height: 25px;
    color: #001e30;

}
.header-text button{
    margin-top: 30px;
    margin-bottom: 30px;
}
.line-1{
    width: 15px;
    height: 15px;
    background: #73aec6;
    display: inline-block;
}
.line-2{
    width: 80px;
    height: 1px;
    background: #73aec6;
    display: inline-block;
}
.line-3{
    width: 60px;
    height: 1px;
    background: #73aec6;
    display: inline-block;
}
.line{
    line-height: 8px;
}

/* Nosotros */


#nosotros{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: rgb(235, 245, 255);
}
.nosotros-left-col{
    flex-basis: 50%;
}
.nosotros-right-col{
    flex-basis: 50%;
    text-align: right;
    padding: 0px 15px
}
.nosotros-left-col img{
    width: 100%;
}
.about-text{
    max-width: 500px;
    display: inline-block;
}

.about-text h2{
    margin: 50px 0 10px;
    font-size: 28px;
}

.about-text h3{
    font-size: 20px;
    color: #798989;
}
.about-text p{
    font-size: 20px;
    font-weight: 4px;
}

/* Waves en movimiento */

.cont-waves {
    position: fixed;
    bottom: 15px;
    width: 100%;
    left: 0;
    background: rgba(235, 245, 255,.1);
}
.waves {
    width: 100%;
    height: 100px;
    margin-bottom: -20px;
}

/* Animation */
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 5s;
}
.parallax>use:nth-child(2) {
    animation-delay: -4s;
    animation-duration: 10s;
}
.parallax>use:nth-child(3) {
    animation-delay: -6s;
    animation-duration: 15s;
}
.parallax>use:nth-child(4) {
    animation-delay: -8s;
    animation-duration: 20s;
}
@keyframes move-forever {
0% {
    transform: translate3d(-90px, 0, 0);
}
100% {
    transform: translate3d(85px, 0, 0);
}
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
.waves {
    height: 40px;
    min-height: 40px;
}
.content {
    height: 30vh;
}
}